GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=global
GOOGLE_CLOUD_STORAGE_BUCKET=
MODEL_NAME=gemini-3-flash-preview
GOOGLE_API_KEY=
DND_DATASTORE_CHARACTERS_ID=
DND_DATASTORE_CAMPAIGN_ID=
